trigger:
- master
 
pool:
  vmImage: 'windows-latest'
 
variables:
  buildConfiguration: 'production'
  frontendProjectDir: '$(Build.SourcesDirectory)/src/ApostasApp.Core.Web/BolaoOnlineAppV5'
  backendProjectDir: '$(Build.SourcesDirectory)/src/ApostasApp.Core.Web'
  appPublishDir: '$(Build.ArtifactStagingDirectory)/AppPublish'
  zipName: 'bolao-app-$(Build.BuildId).zip'
  zipPath: '$(Build.ArtifactStagingDirectory)/$(zipName)'
  finalPublishDir: '$(Build.ArtifactStagingDirectory)/FinalPublish'

stages:
- stage: Build
  displayName: 'Build e Empacotamento do Aplicativo'
  jobs:
  - job: BuildJob
    displayName: 'Job de Build'
    steps:
      - task: NodeTool@0
        displayName: 'Instalar Node.js'
        inputs:
          versionSpec: '18.x'
 
      - task: Npm@1
        displayName: 'npm install do frontend'
        inputs:
          command: 'install'
          workingDir: '$(frontendProjectDir)'
 
      - task: Npm@1
        displayName: 'npm build do frontend'
        inputs:
          command: 'custom'
          customCommand: 'run build -- --configuration=$(buildConfiguration)'
          workingDir: '$(frontendProjectDir)'
      
      - task: DotNetCoreCLI@2
        displayName: 'Publicar Backend'
        inputs:
          command: 'publish'
          publishWebProjects: false
          projects: '$(backendProjectDir)/ApostasApp.Core.Web.csproj'
          arguments: '-c $(buildConfiguration) --output "$(appPublishDir)" --runtime win-x64 --self-contained true'
          zipAfterPublish: false

      # ---- AQUI ESTÁ A NOVA ESTRATÉGIA ----

      # Copia todo o conteúdo do backend para a pasta final
      - task: CopyFiles@2
        displayName: 'Copiar Conteúdo do Backend para a pasta final de deploy'
        inputs:
          SourceFolder: '$(appPublishDir)/ApostasApp.Core.Web'
          Contents: '**'
          TargetFolder: '$(finalPublishDir)'
          cleanTargetFolder: true

      # Copia os arquivos do frontend para o wwwroot na pasta final
      - task: CopyFiles@2
        displayName: 'Copiar Arquivos do Frontend para a pasta wwwroot'
        inputs:
          SourceFolder: '$(frontendProjectDir)/dist/bolao-online-app-v5/browser'
          Contents: '**'
          TargetFolder: '$(finalPublishDir)/wwwroot'
          cleanTargetFolder: true

      # Copia os arquivos estáticos do backend (que foram sobrescritos) de volta para o wwwroot
      - task: CopyFiles@2
        displayName: 'Copiar Arquivos Estáticos do Backend para wwwroot'
        inputs:
          SourceFolder: '$(backendProjectDir)/wwwroot'
          Contents: '**'
          TargetFolder: '$(finalPublishDir)/wwwroot'
          cleanTargetFolder: false # Isso é crucial: não apagar o que já foi copiado do frontend
      
      - task: ArchiveFiles@2
        displayName: 'Compactar o Artefato para Deploy'
        inputs:
          rootFolderOrFile: '$(finalPublishDir)'
          archiveType: 'zip'
          archiveFile: '$(zipPath)'
          replaceExistingArchive: true
          includeRootFolder: false
 
      - task: PublishBuildArtifacts@1
        displayName: 'Publicar o Artefato de Build'
        inputs:
          PathtoPublish: '$(zipPath)'
          ArtifactName: 'drop'
 
- stage: Deploy
  displayName: 'Deploy para Azure'
  dependsOn: Build
  jobs:
    - deployment: DeployJob
      displayName: 'Job de Deployment'
      environment: 'AmbienteDeTestes'
      strategy:
        runOnce:
          deploy:
            steps:
              - task: AzureWebApp@1
                displayName: 'Implantar no Azure App Service'
                inputs:
                  azureSubscription: 'Azure-BolaoOnline-Novo'
                  appType: 'webApp'
                  appName: 'bolaoonline-testes4'
                  package: '$(Pipeline.Workspace)/drop/$(zipName)'
                  removeAdditionalFilesFromFolders: true