trigger:
- master

pool:
  vmImage: 'ubuntu-latest'

variables:
  imageName: 'bolaoonline-app'
  # CORREÇÃO: Variável que aponta para a Service Connection do tipo Docker Registry
  dockerRegistryServiceConnection: 'bolaoonline-docker-registry'
  azureContainerRegistry: 'bolaoonlineregistry.azurecr.io'

stages:
- stage: BuildAndPush
  displayName: 'Build e Push da Imagem Docker'
  jobs:
  - job: Build
    displayName: 'Construir Imagem'
    steps:
    - task: Docker@2
      displayName: 'Login, Construir e Push'
      inputs:
        command: 'buildAndPush'
        repository: '$(imageName)'
        # CORREÇÃO: Define a raiz do repositório como contexto de build
        context: '.'
        # CORREÇÃO: Caminho do Dockerfile relativo ao contexto (raiz)
        dockerfile: 'src/ApostasApp.Core.Web/Dockerfile'
        containerRegistry: '$(dockerRegistryServiceConnection)'
        tags: |
          $(Build.BuildId)
          latest
