trigger:
- main

pool:
  name: MyAgentPool

variables:
- group: BolaoOnline-ProdSecrets

stages:
- stage: Build
  displayName: 'Build and package artifacts'
  jobs:
  - job: BuildJob
    displayName: 'Build job'
    steps:
    - script: |
        dotnet restore
        dotnet publish "src/ApostasApp.Core.Web/ApostasApp.Core.Web.csproj" -c Release -o $(Build.SourcesDirectory)/publish
      workingDirectory: '$(Build.SourcesDirectory)'
      displayName: 'Build and publish application'
      
    - task: ArchiveFiles@2
      displayName: 'Archive files for deployment'
      inputs:
        rootFolderOrFile: '$(Build.SourcesDirectory)/publish'
        includeRootFolder: false
        archiveType: 'zip'
        archiveFile: '$(Build.ArtifactStagingDirectory)/$(Build.BuildId).zip'
        replaceExistingArchive: true

    - publish: '$(Build.ArtifactStagingDirectory)/$(Build.BuildId).zip'
      artifact: 'web-app'
      displayName: 'Publish web app artifact'

- stage: Deploy
  displayName: 'Deploy to Test Environment'
  jobs:
  - deployment: DeployJob
    displayName: 'Deploy job'
    environment: AmbienteDeTestes
    pool:
      name: MyAgentPool
    strategy:
      runOnce:
        deploy:
          steps:
          - download: current
            artifact: web-app

          - task: AzureCLI@2
            displayName: 'Deploy using Azure CLI'
            inputs:
              azureSubscription: 'Azure-BolaoOnline-Novo'
              scriptType: 'PowerShell'  # ALTERADO PARA PowerShell
              scriptLocation: 'inlineScript'
              inlineScript: |
                # Comando para descompactar e implantar o arquivo zip
                az webapp deployment source config-zip `
                  --resource-group <SEU_RESOURCE_GROUP> `
                  --name bolaoonline-testes `
                  --src "$(Pipeline.Workspace)/web-app/$(Build.BuildId).zip"
