trigger:
- master

pool:
  vmImage: 'ubuntu-latest'

variables:
  imageName: 'bolaoonline-app'
  # Este é o nome da nova Service Connection do tipo 'Docker Registry'
  dockerRegistryServiceConnection: 'bolaoonline-docker-registry'
  azureContainerRegistry: 'bolaoonlineregistry.azurecr.io'

stages:
- stage: BuildAndPush
  displayName: 'Build e Push da Imagem Docker'
  jobs:
  - job: Build
    displayName: 'Construir Imagem'
    steps:
    - task: Docker@2
      displayName: 'Login, Construir e Push'
      inputs:
        command: 'buildAndPush'
        repository: '$(imageName)'
        # CAMINHO CORRIGIDO COM BASE NAS IMAGENS QUE VOCÊ ENVIOU
        dockerfile: 'src/ApostasApp.Core.Web/Dockerfile'
        containerRegistry: '$(dockerRegistryServiceConnection)'
        tags: |
          $(Build.BuildId)
          latest