trigger:
  - main

pool:
  vmImage: 'windows-latest'

variables:
  buildConfiguration: 'production'
  appPublishDir: '$(Build.ArtifactStagingDirectory)/app'
  frontendProjectDir: '$(Build.SourcesDirectory)/src/ApostasApp.Core.Web/BolaoOnlineAppV5'
  backendProjectDir: '$(Build.SourcesDirectory)/src/ApostasApp.Core.Web'
  zipName: 'bolao-app-$(Build.BuildId).zip'
  zipPath: '$(Build.ArtifactStagingDirectory)/$(zipName)'

stages:
- stage: Build
  displayName: 'Build e Empacotamento do Aplicativo'
  jobs:
  - job: BuildJob
    displayName: 'Job de Build'
    steps:
      - task: NodeTool@0
        displayName: 'Instalar Node.js'
        inputs:
          versionSpec: '18.x'

      - task: Npm@1
        displayName: 'npm install'
        inputs:
          command: 'install'
          workingDir: '$(frontendProjectDir)'

      - task: Npm@1
        displayName: 'npm build'
        inputs:
          command: 'custom'
          customCommand: 'run build'
          workingDir: '$(frontendProjectDir)'

      - task: DotNetCoreCLI@2
        displayName: 'Publicar Backend (.NET)'
        inputs:
          command: 'publish'
          projects: '$(backendProjectDir)/ApostasApp.Core.Web.csproj'
          arguments: '--configuration $(buildConfiguration) --output "$(appPublishDir)"'
          zipAfterPublish: true

      - task: PublishBuildArtifacts@1
        displayName: 'Publicar o Artefato de Build'
        inputs:
          PathtoPublish: '$(appPublishDir)'
          ArtifactName: 'drop'

- stage: Deploy
  displayName: 'Deploy para Azure'
  dependsOn: Build
  jobs:
    - deployment: DeployJob
      displayName: 'Job de Deployment'
      environment: 'AmbienteDeTestes'
      strategy:
        runOnce:
          deploy:
            steps:
              - task: AzureWebApp@1
                displayName: 'Implantar no Azure App Service'
                inputs:
                  azureSubscription: 'Azure-BolaoOnline-Novo'
                  appType: 'webApp'
                  appName: 'bolaoonline-testes2'
                  package: '$(Pipeline.Workspace)/drop'
                  deploymentMethod: 'WebDeploy'