trigger:
  - master

pool:
  vmImage: 'windows-latest'

variables:
  buildConfiguration: 'production'
  frontendProjectDir: '$(Build.SourcesDirectory)/src/BolaoOnlineAppV5'
  # CORREÇÃO CRÍTICA: Caminho para a pasta final de build do Angular
  frontendDistDir: '$(Build.SourcesDirectory)/src/BolaoOnlineAppV5/dist/bolao-online-app-v5/browser'
  backendProjectDir: '$(Build.SourcesDirectory)/src/ApostasApp.Core.Web'
  appPublishDir: '$(Build.ArtifactStagingDirectory)/AppPublish'
  zipName: 'bolao-app-$(Build.BuildId).zip'
  zipPath: '$(Build.ArtifactStagingDirectory)/$(zipName)'
  backendPublishTempDir: '$(Build.ArtifactStagingDirectory)/BackendPublishTemp'

stages:
- stage: Build
  displayName: 'Build e Empacotamento do Aplicativo'
  jobs:
  - job: BuildJob
    displayName: 'Job de Build'
    steps:
      - task: NodeTool@0
        displayName: 'Instalar Node.js'
        inputs:
          versionSpec: '18.x'

      - task: Npm@1
        displayName: 'npm install do frontend'
        inputs:
          command: 'install'
          workingDir: '$(frontendProjectDir)'

      - task: Npm@1
        displayName: 'npm build do frontend'
        inputs:
          command: 'custom'
          customCommand: 'run build -- --configuration=$(buildConfiguration) --base-href /'
          workingDir: '$(frontendProjectDir)'

      - task: DotNetCoreCLI@2
        displayName: 'Publicar Backend (Autocontido)'
        inputs:
          command: 'publish'
          publishWebProjects: false
          projects: '$(backendProjectDir)/ApostasApp.Core.Web.csproj'
          arguments: '-c $(buildConfiguration) -r win-x64 --self-contained true --output "$(backendPublishTempDir)"'
          zipAfterPublish: false

      - task: CopyFiles@2
        displayName: 'Mover Conteúdo do Backend para Pasta de Publicação Final'
        inputs:
          SourceFolder: '$(backendPublishTempDir)/ApostasApp.Core.Web'
          Contents: '**'
          TargetFolder: '$(appPublishDir)'
          flattenFolders: false

      - task: CopyFiles@2
        displayName: 'Copiar arquivos do Frontend para wwwroot do Backend'
        inputs:
          SourceFolder: '$(frontendDistDir)'
          Contents: '**'
          TargetFolder: '$(appPublishDir)/wwwroot'
          flattenFolders: true
      
      - task: ArchiveFiles@2
        displayName: 'Compactar o Artefato para Deploy'
        inputs:
          rootFolderOrFile: '$(appPublishDir)'
          archiveType: 'zip'
          archiveFile: '$(zipPath)'
          replaceExistingArchive: true
          includeRootFolder: false

      - task: PublishBuildArtifacts@1
        displayName: 'Publicar o Artefato de Build'
        inputs:
          PathtoPublish: '$(zipPath)'
          ArtifactName: 'drop'

- stage: Deploy
  displayName: 'Deploy para Azure'
  dependsOn: Build
  jobs:
    - deployment: DeployJob
      displayName: 'Job de Deployment'
      environment: 'AmbienteDeTestes'
      strategy:
        runOnce:
          deploy:
            steps:
              - task: AzureWebApp@1
                displayName: 'Implantar no Azure App Service'
                inputs:
                  azureSubscription: 'Azure-BolaoOnline-Novo'
                  appType: 'webApp'
                  appName: 'bolaoonline-testes3'
                  package: '$(Pipeline.Workspace)/drop/$(zipName)'