trigger:
- main

variables:
  imageName: 'bolaoonline-app'
  vmImageName: 'ubuntu-latest'

resources:
- repo: self

stages:
- stage: Build
  displayName: 'Build e Publicação da Imagem Docker'
  jobs:
  - job: BuildDockerImage
    displayName: 'Construir Imagem Docker'
    pool:
      vmImage: $(vmImageName)
    steps:
    - task: Docker@2
      inputs:
        containerRegistry: 'bolaoonline-docker-registry'
        repository: '$(imageName)'
        command: 'buildAndPush'
        Dockerfile: 'Dockerfile'
        tags: |
          $(Build.BuildId)
          latest

- stage: Deploy
  displayName: 'Deploy para Azure'
  dependsOn: Build
  jobs:
  - deployment: DeployContainer
    displayName: 'Deploy da Imagem Docker'
    environment: 'AmbienteDeTestes'
    strategy:
      runOnce:
        deploy:
          steps:
          - task: AzureWebAppContainer@1
            inputs:
              azureSubscription: 'Azure-BolaoOnline-Novo'
              appName: 'bolaoonline-testes'
              containers: 'Azure-BolaoOnline-Novo.azurecr.io/$(imageName):$(Build.BuildId)'