trigger:
  - main

pool:
  vmImage: "windows-latest"

variables:
  # Define o caminho para a sua aplicação Angular
  angularAppDir: "src/BolaoOnlineAppV5"

jobs:
  - job: BuildAngular
    displayName: "Build do Frontend (Angular)"
    steps:
      # Instala o Node.js e o npm
      - task: NodeTool@0
        displayName: "Instalar Node.js"
        inputs:
          versionSpec: "18.x"

      # Restaura as dependências do npm
      - script: npm install
        workingDirectory: "$(Build.SourcesDirectory)/$(angularAppDir)"
        displayName: "Instalar dependências do Frontend"

      # Compila o projeto Angular. A flag --output-path garante que os arquivos de build
      # serão colocados em uma pasta chamada 'dist-angular' na raiz do projeto
      - script: npm run build
        workingDirectory: "$(Build.SourcesDirectory)/$(angularAppDir)"
        displayName: "Compilar Frontend (Angular)"

      # Publica o artefato de build do Angular
      - task: PublishBuildArtifacts@1
        displayName: "Publicar Artefato do Frontend"
        inputs:
          PathtoPublish: "$(Build.SourcesDirectory)/$(angularAppDir)/dist"
          ArtifactName: "frontend-dist"