trigger:
- master
 
pool:
  vmImage: 'windows-latest'
 
variables:
  buildConfiguration: 'production'
  frontendProjectDir: '$(Build.SourcesDirectory)/src/ApostasApp.Core.Web/BolaoOnlineAppV5'
  backendProjectDir: '$(Build.SourcesDirectory)/src/ApostasApp.Core.Web'
  # A pasta de publicação final do backend.
  appPublishDir: '$(Build.ArtifactStagingDirectory)/AppPublish'
  zipName: 'bolao-app-$(Build.BuildId).zip'
  zipPath: '$(Build.ArtifactStagingDirectory)/$(zipName)'
  # Novo diretório para o artefato final com a estrutura correta.
  finalArtifactDir: '$(Build.ArtifactStagingDirectory)/FinalArtifact'

stages:
- stage: Build
  displayName: 'Build e Empacotamento do Aplicativo'
  jobs:
  - job: BuildJob
    displayName: 'Job de Build'
    steps:
      - task: NodeTool@0
        displayName: 'Instalar Node.js'
        inputs:
          versionSpec: '18.x'
 
      - task: Npm@1
        displayName: 'npm install do frontend'
        inputs:
          command: 'install'
          workingDir: '$(frontendProjectDir)'
 
      - task: Npm@1
        displayName: 'npm build do frontend'
        inputs:
          command: 'custom'
          customCommand: 'run build:prod'
          workingDir: '$(frontendProjectDir)'
          
      - task: DotNetCoreCLI@2
        displayName: 'Publicar Backend'
        inputs:
          command: 'publish'
          publishWebProjects: false
          projects: '$(backendProjectDir)/ApostasApp.Core.Web.csproj'
          # Publica o backend em uma pasta temporária com a estrutura correta.
          arguments: '-c $(buildConfiguration) --output "$(appPublishDir)"'
          zipAfterPublish: false
      
      # TAREFA CRÍTICA: Copia o conteúdo do backend para o diretório final
      - task: CopyFiles@2
        displayName: 'Preparar diretório final do backend'
        inputs:
          SourceFolder: '$(appPublishDir)'
          Contents: '**'
          TargetFolder: '$(finalArtifactDir)'
          cleanTargetFolder: true

      # TAREFA CRÍTICA: Copia o conteúdo do frontend para a wwwroot do diretório final
      - task: CopyFiles@2
        displayName: 'Copiar Frontend para a wwwroot do diretório final'
        inputs:
          SourceFolder: '$(frontendProjectDir)/dist/bolao-online-app-v5/browser'
          Contents: '**'
          TargetFolder: '$(finalArtifactDir)/wwwroot'
          cleanTargetFolder: false
      
      - task: ArchiveFiles@2
        displayName: 'Compactar o Artefato para Deploy'
        inputs:
          rootFolderOrFile: '$(finalArtifactDir)'
          archiveType: 'zip'
          archiveFile: '$(zipPath)'
          replaceExistingArchive: true
          includeRootFolder: false
 
      - task: PublishBuildArtifacts@1
        displayName: 'Publicar o Artefato de Build'
        inputs:
          PathtoPublish: '$(Build.ArtifactStagingDirectory)'
          ArtifactName: 'drop'
 
- stage: Deploy
  displayName: 'Deploy para Azure'
  dependsOn: Build
  jobs:
    - deployment: DeployJob
      displayName: 'Job de Deployment'
      environment: 'AmbienteDeTestes'
      strategy:
        runOnce:
          deploy:
            steps:
              - task: AzureWebApp@1
                displayName: 'Implantar no Azure App Service'
                inputs:
                  azureSubscription: 'Azure-BolaoOnline-Novo'
                  appType: 'webApp'
                  appName: 'bolaoonline-testes4'
                  package: '$(Pipeline.Workspace)/drop/$(zipName)'
                  removeAdditionalFilesFromFolders: true