 # PIPELINE DE CD (SEGUNDA - IMPLANTA A IMAGEM CRIADA PELA PIPELINE DE CI)
trigger:
- master

variables: 
  # 1. Variáveis de Conexão e Nomes de Recursos (Valores preenchidos)
  azureSubscription: 'Azure-BolaoOnline-Novo'
  ACR_NAME: 'bolaoonlineregistry'
  APP_SERVICE_NAME: 'bolaoonline-testes5'
  RESOURCE_GROUP_NAME: 'ApostasAppRG'
  
  # 2. Variável da Imagem: Usaremos a tag 'latest' como padrão de deploy.
  ACR_IMAGE_NAME: 'bolaoonline-app'
  ACR_IMAGE_TAG: 'latest'
  
pool:
  vmImage: 'ubuntu-latest'

stages:
- stage: DeployToAzure
  displayName: 'Deploy para o Azure App Service'
  jobs:
  - job: Deploy
    displayName: 'Deployment do Container'
    steps:
    - task: AzureWebAppContainer@1
      displayName: 'Implantação do Container no App Service'
      inputs:
        azureSubscription: '$(azureSubscription)'
        appName: '$(APP_SERVICE_NAME)'
        resourceGroupName: '$(RESOURCE_GROUP_NAME)'
        
        # Configuração do Registro de Container (ACR)
        imageName: '$(ACR_NAME).azurecr.io/$(ACR_IMAGE_NAME):$(ACR_IMAGE_TAG)'
        
        # CORREÇÃO FINAL DA SINTAXE: Usando a sintaxe formal de lista YAML
        appSettings: |
          - name: WEBSITE_TIME_ZONE
            value: "E. South America Standard Time"
          - name: HTTPS_ONLY
            value: "true"
          - name: ASPNETCORE_URLS
            value: "http://+:80"
          - name: WEBSITES_PORT
            value: "80" 
