trigger:
- main

pool:
  vmImage: 'windows-latest'

variables:
  buildConfiguration: 'Release'
  # Variável para o caminho de onde o Angular irá gerar o build.
  frontendDistDir: '$(Build.SourcesDirectory)/src/BolaoOnlineAppV5/dist/bolao-online-app-v5'
  
stages:
- stage: Build
  displayName: 'Build do Projeto'
  jobs:
  - job: BuildJob
    displayName: 'Compilar e Publicar Artefatos'
    steps:
    - task: DotNetCoreCLI@2
      inputs:
        command: 'restore'
        projects: '**/*.csproj'
        
    - task: Npm@1
      displayName: 'Instalar dependências do Frontend'
      inputs:
        command: 'install'
        workingDir: 'src/BolaoOnlineAppV5'
        
    - task: Npm@1
      displayName: 'Compilar Frontend'
      inputs:
        command: 'custom'
        workingDir: 'src/BolaoOnlineAppV5'
        customCommand: 'run build --prod --output-path=$(frontendDistDir)'
    
    - task: CopyFiles@2
      displayName: 'Copiar arquivos do Frontend para wwwroot'
      inputs:
        SourceFolder: '$(frontendDistDir)'
        Contents: '**'
        TargetFolder: '$(Build.SourcesDirectory)/src/BolaoOnlineAppV5/wwwroot'

    - task: DotNetCoreCLI@2
      inputs:
        command: 'build'
        projects: '**/*.csproj'
        arguments: '--configuration $(buildConfiguration)'

    - task: DotNetCoreCLI@2
      inputs:
        command: 'publish'
        publishWebProjects: true
        arguments: '--configuration $(buildConfiguration) --output $(Build.ArtifactStagingDirectory)'
        zipAfterPublish: true

    - task: PublishBuildArtifacts@1
      displayName: 'Publicar Artefato da Aplicação'
      inputs:
        PathtoPublish: '$(Build.ArtifactStagingDirectory)'
        ArtifactName: 'drop'
        publishLocation: 'Container'

- stage: Deploy
  displayName: 'Deploy para o Azure'
  dependsOn: Build
  condition: succeeded()
  jobs:
  - deployment: DeployJob
    displayName: 'Implantar Aplicação Web'
    environment: 'Produção'
    pool:
      vmImage: 'windows-latest'
    strategy:
      runOnce:
        deploy:
          steps:
          - task: AzureWebApp@1
            displayName: 'Deploy para Azure App Service'
            inputs:
              azureSubscription: 'Azure-BolaoOnline-Novo'
              appType: 'webApp'
              appName: 'bolaoonline-testes'
              package: '$(Pipeline.Workspace)/drop/**/*.zip'