trigger:
- main

pool:
  vmImage: 'windows-latest'

variables:
  buildConfiguration: 'Release'
  frontendDistDir: '$(Build.SourcesDirectory)/src/BolaoOnlineAppV5/dist/bolao-online-app-v5'
  
stages:
- stage: Build
  displayName: 'Build do Projeto'
  jobs:
  - job: BuildJob
    displayName: 'Compilar e Publicar Artefatos'
    steps:
    - task: DotNetCoreCLI@2
      displayName: 'Restaurar dependências do Backend'
      inputs:
        command: 'restore'
        projects: '**/*.csproj'
        
    - task: Npm@1
      displayName: 'Instalar dependências do Frontend'
      inputs:
        command: 'install'
        workingDir: 'src/BolaoOnlineAppV5'
        
    - task: Npm@1
      displayName: 'Compilar Frontend'
      inputs:
        command: 'custom'
        workingDir: 'src/BolaoOnlineAppV5'
        customCommand: 'run build --prod --output-path=$(frontendDistDir)'
    
    # Nova tarefa: Copia os arquivos do frontend para o diretório de staging
    - task: CopyFiles@2
      displayName: 'Copiar arquivos do Frontend para Staging'
      inputs:
        SourceFolder: '$(frontendDistDir)'
        Contents: '**'
        TargetFolder: '$(Build.ArtifactStagingDirectory)/App'
        
    - task: DotNetCoreCLI@2
      displayName: 'Compilar Backend'
      inputs:
        command: 'build'
        projects: '**/*.csproj'
        arguments: '--configuration $(buildConfiguration)'

    - task: DotNetCoreCLI@2
      displayName: 'Publicar Backend para Staging'
      inputs:
        command: 'publish'
        publishWebProjects: true
        # Adiciona o parâmetro para não compactar, pois faremos isso em seguida
        arguments: '--configuration $(buildConfiguration) --output $(Build.ArtifactStagingDirectory)/Backend --no-self-contained'
        zipAfterPublish: false

    - script: |
        # Script para mover os arquivos do backend para a pasta da aplicação
        xcopy "$(Build.ArtifactStagingDirectory)\Backend" "$(Build.ArtifactStagingDirectory)\App" /s /e /y
        
    - task: ArchiveFiles@2
      displayName: 'Empacotar Artefato para Deploy'
      inputs:
        rootFolderOrFile: '$(Build.ArtifactStagingDirectory)/App'
        includeRootFolder: false
        archiveType: 'zip'
        archiveFile: '$(Build.ArtifactStagingDirectory)/$(Build.BuildId).zip'
        replaceExistingArchive: true

    - task: PublishBuildArtifacts@1
      displayName: 'Publicar Artefato da Aplicação'
      inputs:
        PathtoPublish: '$(Build.ArtifactStagingDirectory)'
        ArtifactName: 'drop'
        publishLocation: 'Container'

- stage: Deploy
  displayName: 'Deploy para o Azure'
  dependsOn: Build
  condition: succeeded()
  jobs:
  - deployment: DeployJob
    displayName: 'Implantar Aplicação Web'
    environment: 'Produção'
    pool:
      vmImage: 'windows-latest'
    strategy:
      runOnce:
        deploy:
          steps:
          - task: AzureWebApp@1
            displayName: 'Deploy para Azure App Service'
            inputs:
              azureSubscription: "Azure-BolaoOnline-Novo"
              appType: 'webApp'
              appName: "bolaoonline-testes"
              # O nome do pacote é ajustado para o novo arquivo zip
              package: '$(Pipeline.Workspace)/drop/**/*.zip'