trigger:
  - main

pool:
  vmImage: 'windows-latest'

variables:
  buildConfiguration: 'production'
  appPublishDir: '$(Build.ArtifactStagingDirectory)/app'
  frontendProjectDir: '$(Build.SourcesDirectory)/src/BolaoOnlineAppV5'
  frontendDistDir: '$(Build.SourcesDirectory)/src/BolaoOnlineAppV5/dist/bolao-online-app-v5'
  backendProjectDir: '$(Build.SourcesDirectory)/src/ApostasApp.Core.Web'

stages:
- stage: Build
  displayName: 'Build e Empacotamento do Aplicativo'
  jobs:
  - job: BuildJob
    displayName: 'Job de Build'
    steps:
      - task: NodeTool@0
        displayName: 'Instalar Node.js'
        inputs:
          versionSpec: '18.x'

      - task: Npm@1
        displayName: 'npm install'
        inputs:
          command: 'install'
          workingDir: '$(frontendProjectDir)'

      - task: Npm@1
        displayName: 'npm build'
        inputs:
          command: 'custom'
          customCommand: 'run build -- --configuration=$(buildConfiguration)'
          workingDir: '$(frontendProjectDir)'

      - task: DotNetCoreCLI@2
        displayName: 'Publicar Backend (.NET)'
        inputs:
          command: 'publish'
          projects: '$(backendProjectDir)/ApostasApp.Core.Web.csproj'
          arguments: '--configuration $(buildConfiguration) --output "$(appPublishDir)"'
          zipAfterPublish: false
      
      # 5. Copia os arquivos compilados do Angular para a wwwroot do .NET
      - task: CopyFiles@2
        displayName: 'Copiar arquivos do Frontend para a wwwroot'
        inputs:
          SourceFolder: '$(frontendDistDir)'
          Contents: '**'
          TargetFolder: '$(appPublishDir)/wwwroot'
          flattenFolders: true

      - script: |
          echo "Criando arquivo de versão..."
          echo "Versao do Build: $(Build.BuildId)" > "$(appPublishDir)/build.version.txt"
          echo "Origem do Commit: $(Build.SourceVersion)" >> "$(appPublishDir)/build.version.txt"
        displayName: 'Adicionar arquivo de Versão do Build'

      - task: PublishBuildArtifacts@1
        displayName: 'Publicar o Artefato de Build'
        inputs:
          PathtoPublish: '$(appPublishDir)'
          ArtifactName: 'drop'

- stage: Deploy
  displayName: 'Deploy para Azure'
  dependsOn: Build
  jobs:
    - deployment: DeployJob
      displayName: 'Job de Deployment'
      environment: 'AmbienteDeTestes'
      strategy:
        runOnce:
          deploy:
            steps:
              - task: AzureWebApp@1
                displayName: 'Implantar no Azure App Service'
                inputs:
                  azureSubscription: 'Azure-BolaoOnline-Novo'
                  appType: 'webApp'
                  appName: 'bolaonline-teste2'
                  package: '$(Pipeline.Workspace)/drop'