trigger:
- main

pool:
  name: MyAgentPool

variables:
- group: BolaoOnline-ProdSecrets

stages:
- stage: Build
  displayName: 'Build and package artifacts'
  jobs:
  - job: BuildJob
    displayName: 'Build job'
    steps:
    - task: NodeTool@0
      inputs:
        versionSpec: '18.x'
      displayName: 'Install Node.js'

    - script: |
        npm install
        npm run build -- --no-build-optimizer
      workingDirectory: '$(Build.SourcesDirectory)/BolaoOnlineAppV5'
      displayName: 'Install dependencies and build frontend'

    - script: |
        npm install
      workingDirectory: '$(Build.SourcesDirectory)/src'
      displayName: 'Install dependencies for backend'
      
    - script: |
        echo "Aplicando migrações do banco de dados..."
        dotnet tool install --global dotnet-ef --version 7.0.12
        dotnet ef database update --project ApostasApp.Core.Infrastructure/ApostasApp.Core.Infrastructure.csproj --startup-project ApostasApp.Core.Web/ApostasApp.Core.Web.csproj
      displayName: 'Apply database migrations'
      workingDirectory: '$(Build.SourcesDirectory)/src'
      env:
        ConnectionStrings__DefaultConnection: $(DefaultConnection)

    - script: |
        dotnet publish "src/ApostasApp.Core.Web/ApostasApp.Core.Web.csproj" -c Release -o $(Build.ArtifactStagingDirectory)
      workingDirectory: '$(Build.SourcesDirectory)'
      displayName: 'Build and publish backend'

    - publish: '$(Build.ArtifactStagingDirectory)'
      artifact: 'drop'
      displayName: 'Publish artifacts'

- stage: Deploy
  displayName: 'Deploy to Test Environment'
  jobs:
  - deployment: DeployJob
    displayName: 'Deploy job'
    environment: AmbienteDeTestes
    pool:
      name: MyAgentPool
    strategy:
      runOnce:
        deploy:
          steps:
          - download: current
            artifact: drop
          
          - script: |
              echo "Iniciando o deploy da aplicação..."
            displayName: 'Deploy application'