trigger:
- main

pool:
  name: MyAgentPool

variables:
- group: BolaoOnline-ProdSecrets

stages:
- stage: Build
  displayName: 'Build and package artifacts'
  jobs:
  - job: BuildJob
    displayName: 'Build job'
    steps:
    - task: NodeTool@0
      inputs:
        versionSpec: '18.x'
      displayName: 'Install Node.js'

    - script: |
        npm install
        npm run build -- --no-build-optimizer
      workingDirectory: '$(Build.SourcesDirectory)/BolaoOnlineAppV5'
      displayName: 'Install dependencies and build frontend'

    - script: |
        dotnet restore
        dotnet publish "src/ApostasApp.Core.Web/ApostasApp.Core.Web.csproj" -c Release -o $(Build.SourcesDirectory)/publish
      workingDirectory: '$(Build.SourcesDirectory)'
      displayName: 'Build and publish backend'

    - script: |
        echo "Copiando arquivos do frontend para a pasta de publicação do backend..."
        xcopy "$(Build.SourcesDirectory)\BolaoOnlineAppV5\dist" "$(Build.SourcesDirectory)\publish\wwwroot\" /E /I /Y
      displayName: 'Copy frontend assets to backend publish directory (Windows)'
      condition: eq(variables['Agent.OS'], 'Windows_NT')

    - script: |
        echo "Copiando arquivos do frontend para a pasta de publicação do backend..."
        cp -R "$(Build.SourcesDirectory)/BolaoOnlineAppV5/dist/BolaoOnlineAppV5" "$(Build.SourcesDirectory)/publish/wwwroot"
      displayName: 'Copy frontend assets to backend publish directory (Linux/macOS)'
      condition: ne(variables['Agent.OS'], 'Windows_NT')

    - task: ArchiveFiles@2
      displayName: 'Archive files for deployment'
      inputs:
        rootFolderOrFile: '$(Build.SourcesDirectory)/publish'
        includeRootFolder: false
        archiveType: 'zip'
        archiveFile: '$(Build.ArtifactStagingDirectory)/$(Build.BuildId).zip'
        replaceExistingArchive: true

    - publish: '$(Build.ArtifactStagingDirectory)/$(Build.BuildId).zip'
      artifact: 'web-app'
      displayName: 'Publish web app artifact'

- stage: Deploy
  displayName: 'Deploy to Test Environment'
  jobs:
  - deployment: DeployJob
    displayName: 'Deploy job'
    environment: AmbienteDeTestes
    pool:
      name: MyAgentPool
    strategy:
      runOnce:
        deploy:
          steps:
          - download: current
            artifact: web-app

          - task: AzureWebApp@1
            displayName: 'Deploy Azure Web App'
            inputs:
              azureSubscription: 'Azure-BolaoOnline'
              appType: 'webApp'
              appName: 'bolaoonline-testes'
              package: '$(Pipeline.Workspace)/web-app/$(Build.BuildId).zip'