trigger:
  - main

pool:
  vmImage: 'windows-latest'

variables:
  buildConfiguration: 'production'
  publishTempDir: '$(Build.ArtifactStagingDirectory)/publish-temp'
  appPublishDir: '$(Build.ArtifactStagingDirectory)/app'
  frontendProjectDir: '$(Build.SourcesDirectory)/src/BolaoOnlineAppV5'
  frontendDistDir: '$(Build.SourcesDirectory)/src/BolaoOnlineAppV5/dist/bolao-online-app-v5'
  backendProjectDir: '$(Build.SourcesDirectory)/src/ApostasApp.Core.Web'
  zipName: 'bolao-app-$(Build.BuildId).zip'
  zipPath: '$(Build.ArtifactStagingDirectory)/$(zipName)'

stages:
- stage: Build
  displayName: 'Build e Empacotamento do Aplicativo'
  jobs:
  - job: BuildJob
    displayName: 'Job de Build'
    steps:
      - task: NodeTool@0
        displayName: 'Instalar Node.js'
        inputs:
          versionSpec: '18.x'

      - task: Npm@1
        displayName: 'npm install'
        inputs:
          command: 'install'
          workingDir: '$(frontendProjectDir)'

      - task: Npm@1
        displayName: 'npm build'
        inputs:
          command: 'custom'
          customCommand: 'run build -- --configuration=$(buildConfiguration) --output-path=$(backendProjectDir)/wwwroot'
          workingDir: '$(frontendProjectDir)'

      - task: DotNetCoreCLI@2
        displayName: 'Publicar Backend (.NET)'
        inputs:
          command: 'publish'
          projects: '$(backendProjectDir)/ApostasApp.Core.Web.csproj'
          arguments: '--configuration $(buildConfiguration) --output "$(publishTempDir)"'
          zipAfterPublish: false
      
      - task: CopyFiles@2
        displayName: 'Ajustar Estrutura de Pastas'
        inputs:
          SourceFolder: '$(publishTempDir)/ApostasApp.Core.Web'
          Contents: '**'
          TargetFolder: '$(appPublishDir)'
          cleanTargetFolder: true

      - script: |
          echo "Criando arquivo de versão..."
          echo "Versao do Build: $(Build.BuildId)" > "$(appPublishDir)/build.version.txt"
          echo "Origem do Commit: $(Build.SourceVersion)" >> "$(appPublishDir)/build.version.txt"
        displayName: 'Adicionar arquivo de Versão do Build'

      - task: PowerShell@2
        displayName: 'Compactar o Artefato com PowerShell'
        inputs:
          targetType: 'inline'
          script: |
            Compress-Archive -Path '$(appPublishDir)\*' -DestinationPath '$(zipPath)'
          pwsh: true

      - task: PublishBuildArtifacts@1
        displayName: 'Publicar o Artefato de Build'
        inputs:
          PathtoPublish: '$(zipPath)'
          ArtifactName: 'drop'

- stage: Deploy
  displayName: 'Deploy para Azure'
  dependsOn: Build
  jobs:
    - deployment: DeployJob
      displayName: 'Job de Deployment'
      environment: 'AmbienteDeTestes'
      strategy:
        runOnce:
          deploy:
            steps:
              - task: AzureWebApp@1
                displayName: 'Implantar no Azure App Service'
                inputs:
                  azureSubscription: 'Azure-BolaoOnline-Novo'
                  appType: 'webApp'
                  appName: 'bolaoonline-testes2'
                  package: '$(Pipeline.Workspace)/drop/$(zipName)'
                  deploymentMethod: 'zipDeploy'