trigger:
- master

pool:
  vmImage: 'windows-latest'

variables:
  buildConfiguration: 'Release'
  appProject: 'src/ApostasApp.Core.Web/ApostasApp.Core.Web.csproj'
  frontendProjectDir: '$(Build.SourcesDirectory)/src/BolaoOnlineAppV5'
  frontendDistDir: '$(Build.SourcesDirectory)/src/BolaoOnlineAppV5/dist/bolao-online-app-v5/browser'
  appPublishDir: '$(Build.ArtifactStagingDirectory)/app'

stages:
- stage: Build
  displayName: 'Build'
  jobs:
  - job: BuildJob
    displayName: 'Build and Publish'
    steps:
      - task: NodeTool@0
        displayName: 'Install Node.js'
        inputs:
          versionSpec: '18.x'

      - task: Npm@1
        displayName: 'npm install'
        inputs:
          command: 'install'
          workingDir: '$(frontendProjectDir)'
      
      - task: Npm@1
        displayName: 'npm build'
        inputs:
          command: 'custom'
          customCommand: 'run build -- --configuration=production'
          workingDir: '$(frontendProjectDir)'

      - task: DotNetCoreCLI@2
        displayName: 'Publish Backend'
        inputs:
          command: 'publish'
          publishWebProjects: false
          projects: '$(appProject)'
          # CORRIGIDO: Publica para o diretório de app, sem wwwroot aninhado
          arguments: '--configuration $(buildConfiguration) --output "$(appPublishDir)"'
      
      - task: CopyFiles@2
        displayName: 'Copy Frontend to wwwroot'
        inputs:
          SourceFolder: '$(frontendDistDir)'
          Contents: '**'
          # Copia para a wwwroot que o .NET já criou
          TargetFolder: '$(appPublishDir)/wwwroot'
          cleanTargetFolder: true

      - task: PublishBuildArtifacts@1
        displayName: 'Publish Artifact'
        inputs:
          PathtoPublish: '$(appPublishDir)'
          ArtifactName: 'drop'

- stage: Deploy
  displayName: 'Deploy'
  dependsOn: Build
  jobs:
    - deployment: DeployJob
      displayName: 'Deploy to App Service'
      environment: 'AmbienteDeTestes'
      strategy:
        runOnce:
          deploy:
            steps:
            - task: AzureWebApp@1
              displayName: 'Deploy Azure Web App'
              inputs:
                azureSubscription: 'Azure-BolaoOnline-Novo'
                appType: 'webApp'
                appName: 'bolaoonline-testes3'
                package: '$(Pipeline.Workspace)/drop'
                removeAdditionalFilesFromFolders: true