trigger:
  - master

pool:
  vmImage: 'windows-latest'

variables:
  buildConfiguration: 'production'
  frontendProjectDir: '$(Build.SourcesDirectory)/src/ApostasApp.Core.Web/BolaoOnlineAppV5'
  frontendDistDir: '$(Build.SourcesDirectory)/src/ApostasApp.Core.Web/BolaoOnlineAppV5/dist/bolao-online-app-v5/browser'
  backendProjectDir: '$(Build.SourcesDirectory)/src/ApostasApp.Core.Web'
  appPublishDir: '$(Build.ArtifactStagingDirectory)/AppPublish'
  backendTempPublishDir: '$(appPublishDir)/temp' 
  zipName: 'bolao-app-$(Build.BuildId).zip'
  zipPath: '$(Build.ArtifactStagingDirectory)/$(zipName)'

stages:
- stage: Build
  displayName: 'Build e Empacotamento do Aplicativo'
  jobs:
  - job: BuildJob
    displayName: 'Job de Build'
    steps:
      - task: NodeTool@0
        displayName: 'Instalar Node.js'
        inputs:
          versionSpec: '18.x'

      - task: Npm@1
        displayName: 'npm install do frontend'
        inputs:
          command: 'install'
          workingDir: '$(frontendProjectDir)'

      - task: Npm@1
        displayName: 'npm build do frontend'
        inputs:
          command: 'custom'
          customCommand: 'run build -- --configuration=$(buildConfiguration)'
          workingDir: '$(frontendProjectDir)'
      
      # PASSO 1: Publicar o backend em uma pasta temporária.
      - task: DotNetCoreCLI@2
        displayName: 'Publicar Backend para pasta temporária'
        inputs:
          command: 'publish'
          publishWebProjects: false
          projects: '$(backendProjectDir)/ApostasApp.Core.Web.csproj'
          arguments: '-c $(buildConfiguration) --output "$(backendTempPublishDir)"'
          zipAfterPublish: false
      
      # PASSO 2: Mover o conteúdo da pasta temporária para o diretório de publicação final.
      - task: CopyFiles@2
        displayName: 'Mover conteúdo publicado para pasta final'
        inputs:
          SourceFolder: '$(backendTempPublishDir)/ApostasApp.Core.Web'
          Contents: '**'
          TargetFolder: '$(appPublishDir)'
          flattenFolders: false
      
      # PASSO 3: Copiar e mesclar os arquivos do frontend na wwwroot do backend.
      - task: CopyFiles@2
        displayName: 'Copiar e Mesclar arquivos do Frontend'
        inputs:
          SourceFolder: '$(frontendDistDir)'
          Contents: '**'
          TargetFolder: '$(appPublishDir)/wwwroot'
          flattenFolders: false
      
      # PASSO 4: Compactar todo o conteúdo do diretório de publicação.
      - task: ArchiveFiles@2
        displayName: 'Compactar o Artefato para Deploy'
        inputs:
          rootFolderOrFile: '$(appPublishDir)'
          archiveType: 'zip'
          archiveFile: '$(zipPath)'
          replaceExistingArchive: true
          includeRootFolder: false

      - task: PublishBuildArtifacts@1
        displayName: 'Publicar o Artefato de Build'
        inputs:
          PathtoPublish: '$(zipPath)'
          ArtifactName: 'drop'

- stage: Deploy
  displayName: 'Deploy para Azure'
  dependsOn: Build
  jobs:
    - deployment: DeployJob
      displayName: 'Job de Deployment'
      environment: 'AmbienteDeTestes'
      strategy:
        runOnce:
          deploy:
            steps:
              - task: AzureWebApp@1
                displayName: 'Implantar no Azure App Service'
                inputs:
                  azureSubscription: 'Azure-BolaoOnline-Novo-2'
                  appType: 'webApp'
                  appName: 'bolaoonline-testes3'
                  package: '$(Pipeline.Workspace)/drop/$(zipName)'
                  removeAdditionalFilesFromFolders: true