trigger:
- main

pool:
  name: MyAgentPool

variables:
- group: BolaoOnline-ProdSecrets

stages:
- stage: Build
  displayName: 'Build and package artifacts'
  jobs:
  - job: BuildJob
    displayName: 'Build job'
    steps:
    - task: NodeTool@0
      inputs:
        versionSpec: '18.x'
      displayName: 'Install Node.js'

    - script: |
        npm install
        npm run build -- --no-build-optimizer
      workingDirectory: '$(Build.SourcesDirectory)/BolaoOnlineAppV5'
      displayName: 'Install dependencies and build frontend'

    - script: |
        npm install
      workingDirectory: '$(Build.SourcesDirectory)/src'
      displayName: 'Install dependencies for backend'
      
    - script: |
        echo "Aplicando migrações do banco de dados..."
        dotnet tool install --global dotnet-ef
        dotnet ef database update --project ApostasApp.Core.Infrastructure/ApostasApp.Core.Infrastructure.csproj --startup-project ApostasApp.Core.Web/ApostasApp.Core.Web.csproj
      displayName: 'Apply database migrations'
      workingDirectory: '$(Build.SourcesDirectory)/src'
      env:
        ConnectionStrings__DefaultConnection: $(DefaultConnection)

    - script: |
        dotnet publish "src/ApostasApp.Core.Web/ApostasApp.Core.Web.csproj" -c Release -o $(Build.SourcesDirectory)/publish
      workingDirectory: '$(Build.SourcesDirectory)'
      displayName: 'Build and publish backend'

    - script: |
        echo "Copiando arquivos do frontend para a pasta de publicação do backend..."
        set frontendPath=$(Build.SourcesDirectory)\BolaoOnlineAppV5\dist\bolao-online-app-v5
        set backendPath=$(Build.SourcesDirectory)\publish\wwwroot
        xcopy "%frontendPath%" "%backendPath%" /E /I /Y
      displayName: 'Copy frontend assets to backend publish directory (Windows)'
      condition: eq(variables['Agent.OS'], 'Windows_NT')

    - script: |
        echo "Copiando arquivos do frontend para a pasta de publicação do backend..."
        cp -R "$(Build.SourcesDirectory)/BolaoOnlineAppV5/dist/bolao-online-app-v5" "$(Build.SourcesDirectory)/publish/wwwroot"
      displayName: 'Copy frontend assets to backend publish directory (Linux/macOS)'
      condition: ne(variables['Agent.OS'], 'Windows_NT')

    - publish: '$(Build.SourcesDirectory)/publish'
      artifact: 'drop'
      displayName: 'Publish optimized artifacts'

- stage: Deploy
  displayName: 'Deploy to Test Environment'
  jobs:
  - deployment: DeployJob
    displayName: 'Deploy job'
    environment: AmbienteDeTestes
    pool:
      name: MyAgentPool
    strategy:
      runOnce:
        deploy:
          steps:
          - download: current
            artifact: drop

          - task: AzureWebApp@1
            displayName: 'Deploy Azure Web App'
            inputs:
              azureSubscription: 'Azure-BolaoOnline'
              appType: 'webApp'
              appName: 'bolaoonline-testes'
              package: '$(Pipeline.Workspace)/drop'