trigger:
  - master

pool:
  vmImage: 'windows-latest'

variables:
  buildConfiguration: 'production'
  frontendProjectDir: '$(Build.SourcesDirectory)/src/BolaoOnlineAppV5'
  frontendDistDir: '$(Build.SourcesDirectory)/src/BolaoOnlineAppV5/dist/bolao-online-app-v5/browser'
  backendProjectDir: '$(Build.SourcesDirectory)/src/ApostasApp.Core.Web'
  appPublishDir: '$(Build.ArtifactStagingDirectory)/AppPublish'
  zipName: 'bolao-app-$(Build.BuildId).zip'
  zipPath: '$(Build.ArtifactStagingDirectory)/$(zipName)'

stages:
- stage: Build
  displayName: 'Build e Empacotamento do Aplicativo'
  jobs:
  - job: BuildJob
    displayName: 'Job de Build'
    steps:
      - task: NodeTool@0
        displayName: 'Instalar Node.js'
        inputs:
          versionSpec: '18.x'

      - task: Npm@1
        displayName: 'npm install do frontend'
        inputs:
          command: 'install'
          workingDir: '$(frontendProjectDir)'

      - task: Npm@1
        displayName: 'npm build do frontend'
        inputs:
          command: 'custom'
          customCommand: 'run build -- --configuration=$(buildConfiguration)'
          workingDir: '$(frontendProjectDir)'
      
      # PASSO 1: PUBLICAR O BACKEND EM UMA PASTA RAIZ TEMPORÁRIA
      - task: DotNetCoreCLI@2
        displayName: 'Publicar Backend'
        inputs:
          command: 'publish'
          publishWebProjects: false
          projects: '$(backendProjectDir)/ApostasApp.Core.Web.csproj'
          arguments: '-c $(buildConfiguration) --output "$(appPublishDir)"'
          zipAfterPublish: false
      
      # PASSO 2: COPIAR OS ARQUIVOS DO FRONTEND PARA DENTRO DA WWWROOT DO BACKEND PUBLICADO
      - task: CopyFiles@2
        displayName: 'Copiar arquivos do Frontend para wwwroot do Backend'
        inputs:
          SourceFolder: '$(frontendDistDir)'
          Contents: '**'
          TargetFolder: '$(appPublishDir)/wwwroot'
          flattenFolders: true
      
      # PASSO 3: COMPACTAR O ARTEFATO FINAL, COM TUDO NO LUGAR CERTO
      - task: ArchiveFiles@2
        displayName: 'Compactar o Artefato para Deploy'
        inputs:
          rootFolderOrFile: '$(appPublishDir)'
          archiveType: 'zip'
          archiveFile: '$(zipPath)'
          replaceExistingArchive: true
          includeRootFolder: false

      - task: PublishBuildArtifacts@1
        displayName: 'Publicar o Artefato de Build'
        inputs:
          PathtoPublish: '$(zipPath)'
          ArtifactName: 'drop'

- stage: Deploy
  displayName: 'Deploy para Azure'
  dependsOn: Build
  jobs:
    - deployment: DeployJob
      displayName: 'Job de Deployment'
      environment: 'AmbienteDeTestes'
      strategy:
        runOnce:
          deploy:
            steps:
              # NOVO PASSO: Remove a variável que causa o modo "somente leitura"
              - task: AzureCLI@2
                displayName: 'Remover WEBSITE_RUN_FROM_PACKAGE'
                inputs:
                  azureSubscription: 'Azure-BolaoOnline-Novo'
                  scriptType: 'bash'
                  scriptLocation: 'inlineScript'
                  inlineScript: |
                    az webapp config appsettings delete \
                      --name "bolaoonline-testes3" \
                      --resource-group "ApostasAppRG" \
                      --setting-names WEBSITE_RUN_FROM_PACKAGE

              - task: AzureCLI@2
                displayName: 'Implantar com Azure CLI'
                inputs:
                  azureSubscription: 'Azure-BolaoOnline-Novo'
                  scriptType: 'bash'
                  scriptLocation: 'inlineScript'
                  inlineScript: |
                    az webapp deploy \
                      --resource-group "ApostasAppRG" \
                      --name "bolaoonline-testes3" \
                      --src-path "$(Pipeline.Workspace)/drop/$(zipName)" \
                      --clean=true