trigger:
- main

pool:
  vmImage: 'ubuntu-latest'

variables:
- group: BolaoOnline-ProdSecrets
- name: dockerRegistryServiceConnection
  value: 'bolaoonline-docker-registry'
- name: imageName
  value: 'bolaoonline-app'
  
stages:
- stage: BuildAndPush
  displayName: 'Build e Push da Imagem Docker'
  jobs:
  - job: BuildDocker
    displayName: 'Build e Push'
    steps:
    - task: Docker@2
      inputs:
        containerRegistry: '$(dockerRegistryServiceConnection)'
        repository: '$(imageName)'
        command: 'buildAndPush'
        Dockerfile: 'BolaoOnlineProject/Dockerfile'
        buildContext: 'BolaoOnlineProject'
        tags: |
          $(Build.BuildId)
          latest

- stage: Deploy
  displayName: 'Deploy para o Ambiente de Testes'
  dependsOn: BuildAndPush
  jobs:
  - deployment: DeployJob
    displayName: 'Job de Deploy'
    environment: AmbienteDeTestes
    pool:
      vmImage: 'ubuntu-latest'
    strategy:
      runOnce:
        deploy:
          steps:
          - task: AzureWebApp@1
            displayName: 'Deploy Azure Web App'
            inputs:
              azureSubscription: 'Azure-BolaoOnline-Novo'
              appType: 'webAppContainer'
              appName: 'bolaoonline-testes'
              dockerNamespace: 'bolaoonlineregistry.azurecr.io'
              dockerRepository: '$(imageName)'
              dockerImageTag: '$(Build.BuildId)'
