trigger:
  - master
  
pool:
  vmImage: 'windows-latest'
  
variables:
  buildConfiguration: 'production'
  appPublishDir: '$(Build.ArtifactStagingDirectory)/app'
  frontendProjectDir: '$(Build.SourcesDirectory)/src/BolaoOnlineAppV5'
  frontendDistDir: '$(Build.SourcesDirectory)/src/BolaoOnlineAppV5/dist/bolao-online-app-v5'
  backendProjectDir: '$(Build.SourcesDirectory)/src/ApostasApp.Core.Web'
  zipName: 'bolao-app-$(Build.BuildId).zip'
  zipPath: '$(Build.ArtifactStagingDirectory)/$(zipName)'
  
stages:
- stage: Build
  displayName: 'Build e Empacotamento do Aplicativo'
  jobs:
  - job: BuildJob
    displayName: 'Job de Build'
    steps:
      - task: NodeTool@0
        displayName: 'Instalar Node.js'
        inputs:
          versionSpec: '18.x'
          
      - task: Npm@1
        displayName: 'npm install do frontend'
        inputs:
          command: 'install'
          workingDir: '$(frontendProjectDir)'
          
      - task: Npm@1
        displayName: 'npm build do frontend'
        inputs:
          command: 'custom'
          customCommand: 'run build -- --configuration=$(buildConfiguration) --base-href /'
          workingDir: '$(frontendProjectDir)'
          
      - task: DotNetCoreCLI@2
        displayName: 'Publicar Backend (.NET)'
        inputs:
          command: 'publish'
          projects: '$(backendProjectDir)/ApostasApp.Core.Web.csproj'
          arguments: '--configuration $(buildConfiguration) --output "$(appPublishDir)/wwwroot"'
          zipAfterPublish: false
      
      - task: CopyFiles@2
        displayName: 'Copiar arquivos do Frontend para a wwwroot'
        inputs:
          SourceFolder: '$(frontendDistDir)'
          Contents: '**'
          TargetFolder: '$(appPublishDir)/wwwroot'
          flattenFolders: true
      
      - task: ArchiveFiles@2
        displayName: 'Compactar o Artefato para Deploy'
        inputs:
          rootFolderOrFile: '$(appPublishDir)/wwwroot/'
          archiveType: 'zip'
          archiveFile: '$(zipPath)'
          replaceExistingArchive: true
          includeRootFolder: false
          
      - task: PublishBuildArtifacts@1
        displayName: 'Publicar o Artefato de Build'
        inputs:
          PathtoPublish: '$(zipPath)'
          ArtifactName: 'drop'
          
- stage: Deploy
  displayName: 'Deploy para Azure'
  dependsOn: Build
  jobs:
    - deployment: DeployJob
      displayName: 'Job de Deployment'
      environment: 'AmbienteDeTestes'
      strategy:
        runOnce:
          deploy:
            steps:
              - task: AzureWebApp@1
                displayName: 'Implantar no Azure App Service'
                inputs:
                  azureSubscription: 'Azure-BolaoOnline-Novo'
                  appType: 'webApp'
                  appName: 'bolaoonline-testes3'
                  package: '$(Pipeline.Workspace)/drop/$(zipName)'