trigger:
  - master

pool:
  vmImage: 'windows-latest'

variables:
  buildConfiguration: 'production'
  frontendProjectDir: '$(Build.SourcesDirectory)/src/BolaoOnlineAppV5'
  frontendDistDir: '$(Build.SourcesDirectory)/src/BolaoOnlineAppV5/dist/bolao-online-app-v5/browser'
  backendProjectDir: '$(Build.SourcesDirectory)/src/ApostasApp.Core.Web'
  appPublishDir: '$(Build.ArtifactStagingDirectory)/AppPublish'
  zipName: 'bolao-app-$(Build.BuildId).zip'
  zipPath: '$(Build.ArtifactStagingDirectory)/$(zipName)'

stages:
- stage: Build
  displayName: 'Build e Empacotamento do Aplicativo'
  jobs:
  - job: BuildJob
    displayName: 'Job de Build'
    steps:
      - task: NodeTool@0
        displayName: 'Instalar Node.js'
        inputs:
          versionSpec: '18.x'

      - task: Npm@1
        displayName: 'npm install do frontend'
        inputs:
          command: 'install'
          workingDir: '$(frontendProjectDir)'

      - task: Npm@1
        displayName: 'npm build do frontend'
        inputs:
          command: 'custom'
          customCommand: 'run build -- --configuration=$(buildConfiguration)'
          workingDir: '$(frontendProjectDir)'
      
      # PASSO 1: PUBLICAR O BACKEND EM UMA PASTA RAIZ TEMPORÁRIA
      - task: DotNetCoreCLI@2
        displayName: 'Publicar Backend'
        inputs:
          command: 'publish'
          publishWebProjects: false
          projects: '$(backendProjectDir)/ApostasApp.Core.Web.csproj'
          arguments: '-c $(buildConfiguration) --output "$(backendTempPublishDir)"'
          zipAfterPublish: false
      
     # PASSO 2: COPIAR OS ARQUIVOS DO FRONTEND PARA DENTRO DA PASTA DE PUBLICAÇÃO DO BACKEND
      # Ajuste na 'TargetFolder' para garantir que a pasta 'browser' seja criada.
      - task: CopyFiles@2
        displayName: 'Copiar arquivos do Frontend'
        inputs:
          SourceFolder: '$(frontendDistDir)'
          Contents: '**'
          TargetFolder: '$(appPublishDir)/browser'

      # PASSO 3: RENOMEAR A PASTA "browser" PARA "wwwroot"
      # Esta tarefa agora encontrará a pasta "browser" e a renomeará.
      - task: PowerShell@2
        displayName: 'Renomear pasta browser para wwwroot'
        inputs:
          targetType: 'inline'
          script: |
            Rename-Item -Path "$(appPublishDir)/browser" -NewName "wwwroot"

      - task: PublishBuildArtifacts@1
        displayName: 'Publicar o Artefato de Build'
        inputs:
          PathtoPublish: '$(zipPath)'
          ArtifactName: 'drop'

- stage: Deploy
  displayName: 'Deploy para Azure'
  dependsOn: Build
  jobs:
    - deployment: DeployJob
      displayName: 'Job de Deployment'
      environment: 'AmbienteDeTestes'
      strategy:
        runOnce:
          deploy:
            steps:
              - task: AzureWebApp@1
                displayName: 'Implantar no Azure App Service'
                inputs:
                  azureSubscription: 'Azure-BolaoOnline-Novo-2'
                  appType: 'webApp'
                  appName: 'bolaoonline-testes3'
                  package: '$(Pipeline.Workspace)/drop/$(zipName)'
                  removeAdditionalFilesFromFolders: true