trigger:
- master

pool:
  vmImage: 'ubuntu-latest'

variables:
  imageName: 'bolaoonline-app'
  dockerRegistryServiceConnection: 'bolaoonline-docker-registry' # Nome da sua Service Connection do tipo Docker Registry
  azureContainerRegistry: 'bolaoonlineregistry' # Nome do seu ACR

stages:
- stage: BuildAndPush
  displayName: 'Construir e Enviar Imagem Docker'
  jobs:
  - job: Build
    displayName: 'Build e Push'
    steps:
    - task: Docker@2
      displayName: 'Login, Build e Push da Imagem'
      inputs:
        command: 'buildAndPush'
        repository: '$(imageName)'
        # O Dockerfile deve estar na raiz do projeto (como havíamos definido)
        dockerfile: 'Dockerfile' 
        containerRegistry: '$(dockerRegistryServiceConnection)'
        # Contexto é a raiz, onde o Git baixa o código (necessário para o Dockerfile multi-stage)
        buildContext: '.' 
        tags: |
          $(Build.BuildId)
          latest