trigger:
- main

pool:
  name: MyAgentPool

variables:
- group: BolaoOnline-ProdSecrets

stages:
- stage: Deploy
  displayName: 'Build and Deploy'
  jobs:
  - deployment: DeployJob
    displayName: 'Deploy job'
    environment: AmbienteDeTestes
    pool:
      name: MyAgentPool
    strategy:
      runOnce:
        deploy:
          steps:
          - task: AzureWebApp@1
            displayName: 'Build and Deploy Azure Web App'
            inputs:
              azureSubscription: 'Azure-BolaoOnline-Novo'
              appType: 'webApp'
              appName: 'bolaoonline-testes'
              package: '$(Build.SourcesDirectory)/src/ApostasApp.Core.Web'