# PIPELINE DE CI (PRIMEIRA - CRIA A IMAGEM QUE VAI SER SUBIDA PELA PIPE DE CD)
trigger:
- master

pool:
  vmImage: 'ubuntu-latest'

variables:
  imageName: 'bolaoonline-app'
  # Este é o nome da nova Service Connection do tipo 'Docker Registry'
  dockerRegistryServiceConnection: 'bolaoonline-docker-registry'
  azureContainerRegistry: 'bolaoonlineregistry.azurecr.io'

stages:
- stage: BuildAndPush
  displayName: 'Build e Push da Imagem Docker'
  jobs:
  - job: Build
    displayName: 'Construir Imagem'
    steps:
    - task: Docker@2
      displayName: 'Login, Construir e Push da Imagem'
      inputs:
        command: 'buildAndPush'
        repository: '$(imageName)'
        
        # O CONTEXTO DE BUILD DEVE SER A RAIZ DO REPOSITÓRIO (ONDE O .SLN ESTÁ)
        buildContext: '$(Build.SourcesDirectory)' 

        # O DOCKERFILE É REFERENCIADO A PARTIR DO CONTEXTO DE BUILD (RAIZ)
        dockerfile: 'src/ApostasApp.Core.Web/Dockerfile' 

        containerRegistry: '$(dockerRegistryServiceConnection)'
        tags: |
          $(Build.BuildId)
          latest