body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    padding: 0;
    background-color: #3CB371;
}

.login-container {
    width: 100%;
    max-width: 450px;
    min-height: 550px;
    margin: 0 auto;
    padding: 30px;
    padding-bottom: 50px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.8);
    background-image: url('/images/fundo_bolao.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    /*background-size: cover;*/ /* Alterado para cover */
    background-position: center center;
    text-align: center;
    background-size: contain;
    width: 400px; /* Ajuste o valor conforme necessário */
    height: 600px; /* Ajuste o valor conforme necessário */
}

@media (max-width: 768px) {
    .login-container {
        width: 100% !important;
        max-height: 100% !important;
        max-width: 480px !important;
        margin: 0 auto;
        background-size: cover;
    }
}

.login-container-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login-container h2 {
    color: white;
    font-size: 1.5em;
    margin-bottom: 20px;
    text-align: center;
}

.login-container a {
    color: white;
    margin: 10px;
    font-size: 0.9em;
    display: inline-block;
}

.login-container img {
    max-height: 300px;
    width: auto;
}

.login-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

    .login-links a {
        font-size: 1.2em;
        font-weight: 600;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
        line-height: 1.5;
        background-color: rgba(255, 255, 255, 0.7);
        padding: 5px 10px;
        border-radius: 5px;
        box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
        color: #333;
    }

.error-summary {
    background-color: #f8d7da;
    border: 1px solid #f5c6cb;
    color: #721c24;
    padding: 10px;
    margin-bottom: 10px;
}

    .error-summary ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

.form-group {
    position: relative; /* Adicionado position relative */
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: white;
}

input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 8px;
    padding-right: 30px; /* Adicionado padding-right */
    border: 1px solid #ccc;
    border-radius: 3px;
}

button {
    width: 100%;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}


.input-group-append {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-25%); /* Ajuste o valor conforme necessário */
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 5px;
    padding-top: 8px;
    padding-bottom: 8px;
    width: 35px; /* Ajuste conforme necessário */
    justify-content: center; /* Centraliza o ícone horizontalmente */
}


.input-group-text {
    background-color: transparent;
    border: none;
    padding: 0;
}


#togglePassword {
    background-color: rgba(0, 0, 0, 0.5); /* Ou outra cor de fundo */
    padding: 5px; /* Adiciona um pequeno padding para espaçamento */
    border-radius: 3px; /* Adiciona bordas arredondadas */
    vertical-align: middle; /* ou vertical-align: center; */
    line-height: 1.5; /* Ajuste o valor conforme necessário */
}

/* Em seu arquivo login.css */
.alert-warning-custom {
    background-color: rgba(255, 193, 7, 0.8); /* Amarelo com alguma transparência */
    color: #333; /* Cor do texto escura para contraste */
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
}