@{
    ViewData["Title"] = "E-mail Confirmado";
}

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/login.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="~/lib/font-awesome/css/all.min.css" rel="stylesheet" />
</head>

<div class="login-container">
    <h2>E-mail Confirmado</h2>

    <div class="alert alert-success">
        <strong>Sucesso!</strong> Seu endereço de e-mail foi confirmado com sucesso! Agora você pode fazer login na sua conta.
    </div>

    <p>
        <a asp-controller="Account" asp-action="Login" class="btn btn-primary btn-block">Clique aqui para fazer login</a>
    </p>
</div>