@{
    ViewData["Title"] = "E-mail Reenviado";
}

<h1>@ViewData["Title"]</h1>

<div class="alert alert-success" role="alert">
    Um novo e-mail de confirmação foi enviado para o seu endereço.
    Por favor, verifique sua caixa de entrada (e a pasta de spam).
</div>

<p>
    <a asp-action="Login" asp-controller="Account" class="btn btn-primary">Ir para a tela de Login</a>
</p>