@model ApostasApp.Core.Presentation.ViewModels.ForgotPasswordViewModel
@{
    ViewData["Title"] = "Esqueci minha senha?";
}

<h1>Esqueci minha senha?</h1>
<h4>Digite seu e-mail.</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-controller="Account" asp-action="ForgotPassword" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label for="Email">E-mail</label>
                <input type="email" class="form-control" id="Email" name="Email" required />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Enviar link de recuperação</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}