/* site.css */

/* 1. Estilos Globais */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #3CB371;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
}


/* 2. Estilos de Elementos Básicos */
table {
    border-collapse: collapse;
    width: 100%;
}

/* 3. Estilos de Layout */
.container-fluid {
    width: 100%;
    margin-top: -10px;
    padding: 0;
    margin: 0;
}

/* 4. Estilos de Componentes */
h4 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

/* Estilos da Tabela */
#tb_apostas {
    width: 100%;
    margin: 0 auto;
    margin-top: 0;
    margin-bottom: 0;
}

    #tb_apostas thead th,
    #tb_apostas td {
        padding: 1px;
    }

    #tb_apostas thead th {
        text-align: center;
        box-sizing: border-box;
        padding-right: 0 !important;
        min-width: 80px;
        max-width: 200px;
    }

    #tb_apostas th,
    #tb_apostas td {
        border: 1px solid #ddd;
        padding: 1px;
        text-align: center;
        flex-grow: 1;
        min-width: 80px;
        max-width: 200px;
        padding: 1px;
        line-height: 1;
    }

    #tb_apostas td {
        text-align: center;
    }

.placar-input {
    width: 50px;
    padding: 2px;
    text-align: center;
}

#tb_apostas img {
    max-width: 40px;
    max-height: 40px;
}

.jogo-detalhes {
    text-decoration: none;
    color: #007bff;
}

    .jogo-detalhes i {
        font-size: 1.2em;
    }

.info-apostador,
.barra-inferior {
    background-color: #2E8B57;
    margin-top: 0 !important;
    padding: 2px;
    height: auto;
    font-size: 0.7em;
    font-weight: bold;
    color: black;
    text-align: center;
    margin-bottom: 0;
}

.barra-inferior {
    font-size: 0.9em;
    display: flex;
    justify-content: space-around;
    margin-bottom: 0;
}

.info-apostador {
    font-size: 0.7em;
    padding: 5px;
    width: 100%;
    max-width: 412px;
    margin: 0 auto;
}

.titulo-equipe {
    font-weight: bold;
}

.titulo-equipe,
#tb_apostas th {
    font-size: 0.9em;
}

/* Estilos dos Botões e Status */
.btn,
.box {
    padding: 10px 20px;
    margin: 10px 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    text-align: center;
    font-family: sans-serif;
    font-size: 1em;
    display: inline-block;
    font-weight: bold;
}

.status-aposta {
    background-color: #f0f0f0;
    color: #333;
    font-weight: bold;
}

.btnSalvarAposta {
    background-color: #1e88e5;
    color: white;
}

    .btnSalvarAposta:hover {
        background-color: #1565c0;
    }

.btnRetornar {
    background-color: #9e9e9e;
    color: white;
}

    .btnRetornar:hover {
        background-color: #757575;
    }

/* Estilos das Equ
