@media (max-width: 768px) {
    /* Oculta a coluna "Período" em telas menores */
    #tb_rodadas th:nth-child(2),
    #tb_rodadas td:nth-child(2) {
        display: none;
    }
}

#tb_rodadas th,
#tb_rodadas td {
    font-size: 0.9em; /* Ajuste o valor conforme necessário */
    padding: 5px; /* Ajuste o valor conforme necessário */
}
}

#btnExibirRanking,
#btnExibirJogos {
    font-size: 0.8em; /* Ajuste o valor conforme necessário */
    width: 85px; /* Ajuste o valor conforme necessário */
    height: 20px; /* Ajuste o valor conforme necessário */
    padding: 5px 10px; /* Ajuste o valor conforme necessário */
}
}

#titulo-pagina {
    font-size: 0.5em; /* Ajuste o valor conforme necessário */
}

#tb_rodadas {
    max-width: 800px !important;
    margin: 20px auto !important;   
    padding: 0 20px; /* Adiciona preenchimento lateral de 20px */
}


@media (min-width: 769px) {
    #tb_rodadas {
        max-width: 800px;
        margin: 20px auto;
    }
}


